@tailwind base;
@tailwind components;
@tailwind utilities;

/*custom tailwindcss*/
.external-link {
  @apply hover:text-sky-200 underline;
}

:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'LoversQuarrel';
  src: url('/themes/fonts/lovers-quarrel/LoversQuarrel-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'HorsePuke';
  src: url('/themes/fonts/HorsePuke/HorsePuke/Truetype/HORSEPUKE.TTF');
}

html {
  scrollbar-width: 8px;
  scrollbar-color: #fff #999;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body, a, button, select, input[type="checkbox"], [contenteditable="true"] {
  cursor: url(/themes/cursor/star-pink.ani), url(https://cur.cursors-4u.net/symbols/sym-3/sym265.png), auto !important;
}

.text-confirm-button {
  color: #444;
}

.text-desc {
  color: #b6520b;
}

.button-deleted {
  background-color: #b6520b;
}

.desc-deleted {
  color: #b6520b;
}
